body {
	background-image: url("../images/source.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
}
/*.header {
	height: 50vh;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 0;
	right: 0;
	left: 0;
}*/
.navbar-default {
	background-color: rgba(0, 0, 0, 0.27)
}
.navbar-fixed-top {
	position: absolute;
}
.navbar {
	border: none;
}

.title {
	top: 40vh;
	bottom: 0;
    text-align: center;
    background-color: rgba(195, 199, 204, 0.5);
    font-weight: bolder;
    font-size: 8vh;
  	background: -webkit-linear-gradient(#0000ff, #0000ff, #22f4f4);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	-webkit-text-stroke: 1px black;
 	position: relative;

}
.container-fluid {
	padding-right: 6%;
    padding-left: 6%;

}
.bannerbg {
	height: 70vh;
	max-height: 70vh;
	background-image: url("../images/banner.jpg");
	/*background-color: black;*/
	background-repeat: no-repeat;
	
	background-position: center;
	background-size: cover;
}
.affix{
	top: 0;
	width: 100%;
	margin: 0;
	padding-top: 49px;
}
ul.sidenav {
	top: -49px;
    list-style-type: none;
    margin: 0 76px;
    padding: 0;
    background-color: #f1f1f1;
    overflow: auto;
    /*width: 100%;*/
    height: auto;
    position: relative;
}

ul.sidenav li a {
    display: block;
    color: #000;
    text-decoration: none;
    float: left;
    padding: 15px;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    padding: 1px 16px;
    height: 1000px;
    margin-left: 0;
}



@media screen and (max-width: 767px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
	ul.sidenav {
		top: -196px;
	}
	.affix{
	top: 0;
	padding-top: 196px;
	}
}



